@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double&family=Michroma&display=swap');
@import url('https://googleapis.com');
@import "tailwindcss";
/* Import custom fonts */
/* "Bitcount Grid Double"
"Rethink Sans"
"Michroma" */

body {
  margin: 0;
  padding: 0;
  font-family: 'Michroma', sans-serif;
}

/* Ensure Bitcount Grid Double is available for custom use */
.bitcount-title {
  font-family: 'Bitcount Grid Double', monospace;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background: #00ff41; border-radius: 10px; }